@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$bg-color: #eee2dc;
$btn-color: #ac3b61;

@mixin display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:$bg-color;
  font-family: 'Poppins', 'sans-serif';
  @include display;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}
.btn{
  background-color: $btn-color;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover{
  opacity: 0.9;
}
.btn:focus{
  outline: none;
}