@import url("https://use.typekit.net/vzf8gsw.css");
:root{
    --line--border--fill:#F53838;
    --line--border--empty:#e0e0e0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: muli, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: #f6f7fb;
}
.container{
    text-align: center;
}
.pro-con{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 400px;
}
.pro-con::before{
    content: '';
    background-color: var(--line--border--empty);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
}
.pro{
    background-color: var(--line--border--fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.5s ease;
}
.cir{
    background-color: white;
    color: #999;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line--border--empty);
    transition: .4s ease;
}
.cir.active{
    border-color: var(--line--border--fill);
    transition: 2s ease;
}
.btn{
    background-color: var(--line--border--fill);
    color: white;
    border:0;
    border-radius: 5px;cursor: pointer;
    font-family: inherit;
    padding: 10px 30px;
    margin: 5px;
    font-size: 14px;
}
.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: 0;
}
.btn:disabled{
    background-color: var(--line--border--empty);
    cursor: not-allowed;
}